data/azurite/__azurite_db_blob__.json
data/azurite/__azurite_db_blob_extent__.json
data/azurite/__azurite_db_queue__.json
data/azurite/__azurite_db_queue_extent__.json
data/azurite/__azurite_db_table__.json
data/azurite/AzuriteConfig
data/azurite/__blobstorage__/1ff4cd71-2b03-4fa9-a166-02386038337e
data/azurite/__blobstorage__/5e84c0bd-ba47-4751-9521-9986983f6d2f
data/azurite/__blobstorage__/72bbdeb3-d090-4290-b77f-350f0762a03a
data/azurite/__blobstorage__/1280e218-d0ce-4d03-ae7d-9788cfcb7c63
data/azurite/__blobstorage__/1637a396-b141-4699-a3eb-a2bbff1d7c04
data/azurite/__blobstorage__/45715340-ce21-45db-b712-672d123b8f1a
data/azurite/__blobstorage__/b8320873-6bd4-470a-8bd7-a1ee2998eccf
data/azurite/__blobstorage__/bd863dfb-3799-4fa6-9aa1-216bccf35286
data/azurite/__blobstorage__/d5ef7376-5498-4574-8cae-b7983671de37
data/azurite/__blobstorage__/e0b93fd9-a594-403a-896e-3a76610a6faa
data/azurite/__blobstorage__/f7e7a136-5e1c-4d2c-af22-ece6d0ea95cc
data/azurite/__blobstorage__/f9784f3d-7eaa-4dac-b6e4-3752fb6789bb
data/azurite/__queuestorage__/d67e311f-3635-4fa5-a13b-5a40c868e7b0
data/sqlserver/.system/instance_id
data/sqlserver/.system/profiles/Client/AppData/LocalLow/Microsoft/CryptnetUrlCache/Content/26F6315A1EE57D5CC8E2185EB5F98E21
data/sqlserver/.system/profiles/Client/AppData/LocalLow/Microsoft/CryptnetUrlCache/Content/55C4822D0F35FE8F4F67713B4F628992
data/sqlserver/.system/profiles/Client/AppData/LocalLow/Microsoft/CryptnetUrlCache/Content/61539AEA20DA66873D72161157D4D6BF
data/sqlserver/.system/profiles/Client/AppData/LocalLow/Microsoft/CryptnetUrlCache/Content/BEF160FB64FEEFCB613D57CAF5A839AD
data/sqlserver/.system/profiles/Client/AppData/LocalLow/Microsoft/CryptnetUrlCache/Content/CB7969E09FEDDE857775A5B52018E613
data/sqlserver/.system/profiles/Client/AppData/LocalLow/Microsoft/CryptnetUrlCache/Content/F0FF5583D0C038A2C92CEAEF52CFB343
data/sqlserver/.system/profiles/Client/AppData/LocalLow/Microsoft/CryptnetUrlCache/MetaData/26F6315A1EE57D5CC8E2185EB5F98E21
data/sqlserver/.system/profiles/Client/AppData/LocalLow/Microsoft/CryptnetUrlCache/MetaData/55C4822D0F35FE8F4F67713B4F628992
data/sqlserver/.system/profiles/Client/AppData/LocalLow/Microsoft/CryptnetUrlCache/MetaData/61539AEA20DA66873D72161157D4D6BF
data/sqlserver/.system/profiles/Client/AppData/LocalLow/Microsoft/CryptnetUrlCache/MetaData/BEF160FB64FEEFCB613D57CAF5A839AD
data/sqlserver/.system/profiles/Client/AppData/LocalLow/Microsoft/CryptnetUrlCache/MetaData/CB7969E09FEDDE857775A5B52018E613
data/sqlserver/.system/profiles/Client/AppData/LocalLow/Microsoft/CryptnetUrlCache/MetaData/F0FF5583D0C038A2C92CEAEF52CFB343
data/sqlserver/.system/profiles/Client/AppData/Roaming/Microsoft/SystemCertificates/My/AppContainerUserCertRead
data/sqlserver/.system/programdata/Microsoft/NetFramework/BreadcrumbStore/Microsoft.Diagnostics.Tracing.EventSource, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a
data/sqlserver/.system/programdata/Microsoft/NetFramework/BreadcrumbStore/Microsoft.Diagnostics.Tracing.EventSource, Version=1.1.26.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a
data/sqlserver/.system/system/licensing.hiv
data/sqlserver/.system/system/lsa.hiv
data/sqlserver/.system/system/lsasetup.log
data/sqlserver/.system/system/security.hiv
data/sqlserver/.system/system/debug/PASSWD.LOG
data/sqlserver/.system/system/system32/Microsoft/Protect/S-1-5-18/User/b78c5349-6038-4576-8e0d-fce8f4783252
data/sqlserver/.system/system/system32/Microsoft/Protect/S-1-5-18/User/Preferred
data/sqlserver/data/BaseApp_log.ldf
data/sqlserver/data/BaseApp.mdf
data/sqlserver/data/Entropy.bin
data/sqlserver/data/master.mdf
data/sqlserver/data/mastlog.ldf
data/sqlserver/data/model_msdbdata.mdf
data/sqlserver/data/model_msdblog.ldf
data/sqlserver/data/model_replicatedmaster.ldf
data/sqlserver/data/model_replicatedmaster.mdf
data/sqlserver/data/model.mdf
data/sqlserver/data/modellog.ldf
data/sqlserver/data/msdbdata.mdf
data/sqlserver/data/msdblog.ldf
data/sqlserver/data/NPC_log.ldf
data/sqlserver/data/NPC.mdf
data/sqlserver/data/tempdb.mdf
data/sqlserver/data/tempdb2.ndf
data/sqlserver/data/tempdb3.ndf
data/sqlserver/data/tempdb4.ndf
data/sqlserver/data/templog.ldf
data/sqlserver/log/errorlog
data/sqlserver/log/errorlog.1
data/sqlserver/log/errorlog.2
data/sqlserver/log/errorlog.3
data/sqlserver/log/errorlog.4
data/sqlserver/log/errorlog.5
data/sqlserver/log/errorlog.6
data/sqlserver/log/HkEngineEventFile_0_134240899909330000.xel
data/sqlserver/log/HkEngineEventFile_0_134240909941490000.xel
data/sqlserver/log/HkEngineEventFile_0_134246264256740000.xel
data/sqlserver/log/HkEngineEventFile_0_134246433425770000.xel
data/sqlserver/log/HkEngineEventFile_0_134249353075030000.xel
data/sqlserver/log/HkEngineEventFile_0_134249459615500000.xel
data/sqlserver/log/HkEngineEventFile_0_134251773975680000.xel
data/sqlserver/log/log_2.trc
data/sqlserver/log/log_3.trc
data/sqlserver/log/log_4.trc
data/sqlserver/log/log_5.trc
data/sqlserver/log/log_6.trc
data/sqlserver/log/sqlagentstartup.log
data/sqlserver/log/system_health_0_134240899958210000.xel
data/sqlserver/log/system_health_0_134240909985950000.xel
data/sqlserver/log/system_health_0_134246264272320000.xel
data/sqlserver/log/system_health_0_134246433438060000.xel
data/sqlserver/log/system_health_0_134249353089920000.xel
data/sqlserver/log/system_health_0_134249459629960000.xel
data/sqlserver/log/system_health_0_134251773994540000.xel
data/sqlserver/secrets/machine-key
